name: Security Scans

on:
  schedule:
    # Run security checks every day at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - release**

permissions: {}

jobs:
  zizmor-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results to code-scanning dashboard
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run Zizmor scan
        uses: open-edge-platform/anomalib/.github/actions/security/zizmor@5c1ce9ffb2b144279b1a31ddc971e765d7e8df85
        with:
          scan-scope: "all"
          severity-level: "LOW"
          confidence-level: "LOW"
          fail-on-findings: false # reports only

  bandit-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results to code-scanning dashboard
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run Bandit scan
        uses: open-edge-platform/anomalib/.github/actions/security/bandit@5c1ce9ffb2b144279b1a31ddc971e765d7e8df85
        with:
          scan-scope: "all"
          severity-level: "LOW"
          confidence-level: "LOW"
          config_file: ".github/bandit_config.yml"
          fail-on-findings: false # reports only

  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results to code-scanning dashboard
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"
      - name: Install pip-tools
        run: python -m pip install pip-tools

      - name: Freeze dependencies
        run: |
          mkdir -p trivy_input
          pip-compile -o trivy_input/requirements.txt requirements.txt

      - name: Run Trivy scan
        id: trivy
        uses: open-edge-platform/anomalib/.github/actions/security/trivy@5c1ce9ffb2b144279b1a31ddc971e765d7e8df85
        with:
          scan_type: "fs"
          scan-scope: all
          severity: LOW
          scanners: "vuln,secret,config"
          format: "sarif"
          timeout: "15m"
          ignore_unfixed: "false"
